body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #002E5D;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 1px 1px 5px white;
    border-radius: 24px;
    padding: 0px 40px 0px 40px;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.dropdown {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.dropdown span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

.nav-links.hidden {
    display: none;
}

.gallery {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    background-color: #294d71;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.gallery-item img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
    padding-top: 10px;
}

.gallery-item .info {
    padding: 20px;
}

.gallery-item .info h3 {
    font-size: 1.25rem;
    margin: 0 0 10px;
    color: #f1f1f1;
}

.gallery-item .info p {
    font-size: 1rem;
    color: #e6dcdc;
}


footer {
    background-color: #002E5D;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

footer p {
    margin: 10px 0;
}

footer .download-section {
    margin: 20px 0;
}

footer .download-section img {
    width: 40px;
    height: auto;
    margin: 0 10px;
}

footer .footer-links {
    margin-top: 20px;
}

footer .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .header-info {
        flex-direction: column;
        align-items: center;
    }

    .info-text,
    .info-img {
        max-width: 80%;
        text-align: center;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    main article {
        width: 80%;
    }
}

@media (max-width: 767px) {

    .dropdown {
        display: flex;
        
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .nav-links.show {
        display: flex;
        max-height: 200px;
        background-color: #003E85;
        border-radius: 24px;
        margin: 10px;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .header-info {
        flex-direction: column;
        align-items: center;
    }

    .info-text,
    .info-img {
        max-width: 90%;
        text-align: center;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .content-section {
        flex-direction: column;
        align-items: center;
    }

    .content-section article {
        width: 90%;
    }

    footer .download-section img {
        width: 40px;
    }
}